<div class="column is-one-fifth">
  <div class="card customer">
    <div class="card-content">
      <%= image_tag(product.)%>
      <p class="title is-4"><strong>Name: </strong><%= product.designation %></p>
      <p class="subtitle is-6"><strong>Region: </strong><%= product.regionMade.regionMade %></p>
      <p class="subtitle is-6"><strong>Province: </strong><%= product.provinceMade.provinceMade %></p>
      <p class="subtitle is-6"><strong>Country: </strong><%= product.countryMade.countryMade %></p>
      <p class="subtitle is-6"><strong>Description:</strong><%= product.description %></p>
      </br>
    </div>
  </div>
</div>