<section class="section">
  <h1 class="title"><%= @products.designation %></h1>
</section>
<div>
  <%= image_tag(@products.image, height: '200', width:'100' ) %>
  <p class="title is-4"><strong>Name:</strong><%= @products.designation %></p>
  <p class="subtitle is-6"><strong>Region:</strong><%= @products.regionMade.regionMade %></p>
  <p class="subtitle is-6"><strong>Province:</strong><%= @products.provinceMade.provinceMade %></p>
  <p class="subtitle is-6"><strong>Country:</strong><%= @products.countryMade.countryMade %></p>
  <p class="subtitle is-6"><strong>Description:</strong><%= @products.description %></p>
  <p class="subtitle is-6"><strong>Price:</strong><%= number_to_currency @products.price %></p>
  <p class="subtitle is-6"><strong>Availible in Stock:</strong><%= @products.amount %></p>
  <% if @cart.include?(@products)%>
    </br>
    <p>Product is in your cart...</p>
  <% else %>
    </br>
    <p class="subtitle is-6"><%= link_to 'add to cart ', add_to_cart_path(@products.id), method: :post %><i class="fas fa-plus"></i></p>
  <% end %>
</div>
<div>
  </br>
  <p class="subtitle is-6"><%= link_to "Home", root_path %></p>
</div>
