<section class="section">
  <h1 class="title"><%= @products.designation %></h1>
</section>
<div>
  <%= image_tag(@products.image) %>
  <p class="title is-4"><strong>Name:</strong><%= @products.designation %></p>
  <p class="subtitle is-6"><strong>Region:</strong><%= @products.regionMade.regionMade %></p>
  <p class="subtitle is-6"><strong>Province:</strong><%= @products.provinceMade.provinceMade %></p>
  <p class="subtitle is-6"><strong>Country:</strong><%= @products.countryMade.countryMade %></p>
  <p class="subtitle is-6"><strong>Description:</strong><%= @products.description %></p>
  <p class="subtitle is-6"><strong>Price:</strong><%= @products.price %></p>
  <p class="subtitle is-6"><strong>Availible in Stock:</strong><%= @products.amount %></p>
  </br>
</div>

<p><%= link_to "Home", root_path %></p>
