<section class="section">
  <h1 class="title">Welcome to JD International Collection of Wine</h1>
  <h2 class="subtitle">We have a fine variety of wine in our collection. Here are some. </h2>
</section>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Variety</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @varieties.each do |variety| %>
    <tr>
      <td><%= variety.variety_name %></td>
      <td><%= variety.product.size %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>

<%= paginate @varieties, window: 2 %>
<p class="subtitle is-6"><%= link_to "Home", root_path %></p>
