<section class="section">
  <h1 class="title">Welcome to JD International Collection of Wine</h1>
  <h2 class="subtitle">Listed are the regions where our fine products where made. </h2>
</section>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Products made from provinces.</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @province_made.each do |provinces| %>
    <tr>
      <td><%= provinces.provinceMade %></td>
      <td><%= provinces.provinceMade.size %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>

<%= paginate @province_made, window: 2 %>
<p class="subtitle is-6"><%= link_to "Home", root_path %></p>
